body{
    font-family: 'Varela Round', sans-serif;
    
}

.s1{
    background-image:url(../imgs/coffeetable.jpg);
    background-size: cover;
    height:auto;
    z-index: -1;
}

.button-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-display-first{
    margin: 40px 0 ;
}

.button-display-last{
    margin-bottom: 40px;
}


.s2{
    background-image:url(../imgs/coffeebeerbar.jpg);
    background-size: cover;
    height:auto;
    z-index: -1;
}

.s3{
    background-image:url(../imgs/espressomachine.jpg);
    background-size: cover;
    height:auto;
    z-index: -1;
    color:white;
}

.s4{
    height:auto;
    z-index: -1;
}

nav{
    z-index: 1;
}

/*code below is to make it so the text won't create new rows*/
.nav-item{
    white-space:nowrap;
}

.carousel-indicators{
    cursor: pointer;
}

.menu{
    background-color:rgba(0,0,0,0.5);
    border-radius:3rem;
}

.card-title{
    font-weight:bold;
    font-size:xx-large;
}

.btn{
    width:auto;
    height:auto;
}

.card img{
    width:100%;
    height:100%;
    filter:brightness(65%);
    
}

.card p{
    font-weight:bold;
}

